body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
  }
  form{
    margin-top: 100px;
    padding: 30px;
    background-color: white;
    position: relative;
    z-index: 20;
}
#wave{
    position: absolute;
    left:  0px;
    bottom: 0px;
  }
  .sucess{
    color: #367E18;
  }